<div class="dropdown">
  <button class="dropbtn">Check into Destination</button>
  <div class="dropdown-content">



    <%Destination.all.each do |des|%>
    <a href="/destinations/<%=des.id%>/posts/new" class="nested" id="<%=des.id%>"><%=des.name%></a>


    <%end%>
    <a href="/posts/new" id="nested" >Create A new Destination</a>

</div>
</div>

<%= form_tag(destinations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Destinations" %>
    <%= submit_tag "Search" %>
<% end %>

<%= button_to "My Pins", user_pins_path(@user), method: :get, id: "my_pins"%>



<br>
</br>
<h3></h3>
<div class="post_image">
<ul>

</ul>
</div>


<div class="post_details">
  <p></p>
</div>
