


<%= form_tag(destinations_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Destinations" %>
    <%= submit_tag "Search" %>
<% end %>

<%= button_to "My Pins", user_pins_path(@user), method: :get %>

<% @user.posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><%=post.title %></a>
    <br>
  <% if post.avatar%>
    <%=image_tag post.avatar.url, size: "5X5" %>
  <%end%>
<%end%>
<br>
</br>


<div class="dropdown">
  <button class="dropbtn">Check into Destination</button>
  <div class="dropdown-content">
    <%Destination.all.each do |des|%>
    <a href="/destinations/<%=des.id%>/new"><%=des.name%></a>
    <%end%>
    <a href="/destinations/new">Create A new Destination</a>
