<% if @post.user_id != current_user.id %>
  <% if !@pin %>
    <%= button_to "Pin Post", post_pins_path(@post), method: :post%>
  <%end%>
<%end%>


<h2>Title of Entry: <%= @post.title %></h2>

<h3> Trip to: <%= @post.destination.name %> </h3>
<br>
Cost of Trip : <%= @post.total_cost%>
<br>
<h3>Ratings for Trip Factors</h3>
<br>
Flight: <%= @post.flight%>
<br>
Climate: <%= @post.climate%>
<br>
Car_rental: <%= @post.car_rental %>
<br>
Food: <%= @post.diet %>
<br>
Content: <%= @post.content%>
<br></br>

<%=image_tag @post.avatar.url%>
<br></br>
<% if current_user.id == @post.user_id %>
  <%= button_to "Update Entry", edit_post_button_path(@post)%>

<%end%>
